.App {
  text-align: center;
  background-color: #25064C;
  color: white;
  font-family: 'IBM Plex Sans';
}

main {
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navContainer {
  margin: 5px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: #1e2233;
}

.card {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  background-color: #374060;
  border-radius: 12px;
  margin: 50px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
      margin: 50px;
  }
}